@model Insolvency.Portal.Models.ViewModels.DebtDetailViewModel;

<h2 id="debt-review-title" class="govuk-heading-s govuk-!-margin-bottom-2">Debt</h2>
<ul class="govuk-list">
    @if (Model.Debt.HasDebtTypeName)
    {
        <li id="debt-review-debt-type">Debt type: @Model.Debt.SelectedDebtTypeName</li>
    }
    @if (Model.Debt.HasNi)
    {
        <li id="ma-debt-eligibility-ni">National insurance number: @Model.Debt.NINO</li>
    }
    <li id="debt-review-creditor">Creditor: @Model.Creditor.Name</li>
    @if (Model.Debt.HasDebtAmount)
    {
        <li id="debt-review-debt-amount">Amount: £@Model.Debt.DebtAmount</li>
    }
    @if (Model.Debt.HasReference)
    {
        <li id="debt-review-debt-ref">Reference: @Model.Debt.Reference</li>
    }
</ul>