<nav class="secondary" id="creditor-nav">
    <div class="navbar">
        <ul class="navbar__list-items signin">
            <li>
                <p id="creditor-name" class="govuk-body">HMRC</p>
            </li>
            <li>
                <p id="creditor-member-name" class="govuk-body">Jo Clarkson</p>
            </li>
            <li>
                <a id="sign-out" href="#" class="govuk-link">Sign out</a>
            </li>
        </ul>
        <ul class="navbar__list-items">
            <li>
                <a id="home" href="#" class="govuk-link">Home</a>
            </li>
            <li>
                <a id="search-account" href="#" class="govuk-link">Search for account</a>
            </li>
        </ul>
    </div>
</nav>