@model Insolvency.Management.Models.ViewModels.ClientCredentials.AddClientSecretResultViewModel
<div class="row">
    <div class="col-sm-12 alert alert-success text-center">
        <h4>New secret added to @Model.ClientId successful</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-border"><strong>Description</strong></div>
    <div class="col-sm-7 col-border"><strong>Secret</strong></div>
</div>
<div class="row">
    <div class="col-sm-5 col-border">@Model.Description</div>
    <div class="col-sm-7 col-border">@Model.Secret</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr class="mb-3">
        <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("ManageClientCredentials", new { id = Model.InternalClientId })">Return to Client Credentials Management</a>
    </div>
</div>
