@model Insolvency.Management.Models.ViewModels.ClientCredentials.AddClientSecretViewModel
<div class="row">
    <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Specify Secret Description</h4>
        <form method="post" asp-action="AddClientSecret" asp-controller="ClientCredentialsManagement">
            @Html.HiddenFor(x => x.Id)
            <div class="mb-3">
                <label for="description">Secret Description</label>
                <input asp-for="Description" class="form-control" id="description">
                <span class="invalid-feedback" asp-validation-for="Description"></span>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>