@model Insolvency.Management.Models.ViewModels.ClientCredentials.CreateClientCredentialsViewModel
<div class="row">
    <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Specify Client Name</h4>
        <form method="post" asp-action="CreateClientCredentials" asp-controller="ClientCredentialsManagement">
            <div class="mb-3">
                <label for="name">Client</label>
                <input asp-for="Name" class="form-control" id="name">
                <span class="invalid-feedback" asp-validation-for="Name"></span>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>