@model Insolvency.Management.Models.ViewModels.ClientCredentials.CreateClientCredentialsResultViewModel
<div class="row">
    <div class="col-sm-12 alert alert-success text-center">
        <h4>New Client Credentials created successfully</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-border"><strong>ClientId</strong></div>
    <div class="col-sm-7 col-border"><strong>Secret</strong></div>
</div>
<div class="row">
    <div class="col-sm-5 col-border">@Model.ClientId</div>
    <div class="col-sm-7 col-border">@Model.Secret</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr class="mb-3">
        <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("ClientCredentials")">Return to Client Credentials</a>
    </div>
</div>
